.v-list {
  &-item {
    min-height: var(--v-list-height);
    display: grid;
    grid-template-areas: 'prepend content append';
    grid-template-columns: min-content minmax(0, 1fr) min-content;
    position: relative;
    padding: 4px 16px;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &__prepend {
      display: flex;
      align-items: center;
      grid-area: prepend;
    }

    &__content {
      grid-area: content;
      display: flex;
      align-items: center;
    }

    &__append {
      display: flex;
      align-items: center;
      grid-area: append;
    }

    &--clickable {
      cursor: pointer;
    }
  }
}